[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
python-dotenv = "*"
google-api-python-client = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.8"

[scripts]
tsucchy = "python3 tsucchy/core.py"
